.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./res/9.webp'); /* Add your background image URL */
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.product-details {
    width: 306px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 41px;
    margin: 25px auto;
    background-color: #e4e4e4;
  }

  /* Styling for product image */
  .product-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  /* Styling for product name */
  .product-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* Styling for product description */
  .product-description {
    margin-bottom: 10px;
  }

  /* Styling for sliding cost container */
  .sliding-cost-container {
      /* position: relative; */
      bottom: 0;
      left: 0;
      width: 100%;
      /* background-color: #fff; */
      transition: transform 0.3s ease;
      text-align: center;
      padding: 15px;
  }

  /* Styling for cost wrapper */
  .cost-wrapper {
    padding: 10px;
    border-top: 1px solid #ccc;

  }

  /* Styling for cost */
  .cost {
    font-size: 18px;
    font-weight: bold;
  }
  @keyframes changeColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: purple; }
}

.changing-text {
    animation: changeColor 5s infinite; 
}

