body{
    margin: 0px;
}
.nav {
    list-style:none inside;
    margin:0;
    padding:0;
    text-align:center;
    }

 .nav li {
    display:block;
    position:absolute;
    float:left;
    background: #b9ff08;
    }

.nav li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    width: 216px;
    line-height: 45px;
    color: #095d0a;
}
        
.nav li li a {font-size:100%;} 
    
.nav li:hover {background:#45e696;} 

.nav ul {
    position:absolute;
    padding:0;
    left:0;
    display:none; 
    }

.nav li:hover ul ul {
    display:none;
} 

.nav li:hover ul {
    display:block;
} 

.nav li li:hover ul {
    display:block;
    margin-left:240px; 
    margin-top:-35px; 
    } 

 .nav li .space{
    margin-right:2px;
 }